# .github/workflows/test.yml
name: Test

on:
  push:
    branches: [ "main" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a simple command
        run: echo "GitHub Actions test"
